BEGIN;
--
-- Create model TransferenciaInventario
--
-- (no-op)
--
-- Create model DetalleTransferencia
--
-- (no-op)
--
-- Create index inventario__sucursa_28dcd6_idx on field(s) sucursal_origen, estado of model transferenciainventario
--
-- (no-op)
--
-- Create index inventario__sucursa_737469_idx on field(s) sucursal_destino, estado of model transferenciainventario
--
-- (no-op)
--
-- Create index inventario__numero__859968_idx on field(s) numero_guia of model transferenciainventario
--
-- (no-op)
COMMIT;
